.App {
  text-align: center;
  background: #fffffa;
  min-height: 100vh;
  position: relative;
  z-index: 2;
  padding-top: 76px;

}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
}
.main-name {
  font-weight: 600;
}
.sticky-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.nav-link {
  display: inline-block;
  float: left;
  margin: 0 5%;
  color: #000;
}
.nav-link:hover {
  opacity: 0.6;
  color: #000;
}
.nav-link:focus {
  opacity: 0.6;
  color: orange;
}

.hero-container {
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

.hero-half {
  width: 100%;
  min-width: 100%;
}
@media (min-width: 768px) {
  .hero-half {
    width: 50%;
    min-width: 50%;
    max-width: 50%;

  }
}

p {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0;
}

h3 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0;
}

.portrait {
  max-width: 100%;
}

.text-side {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anchor-tag {
  color: #ff5851;
}

.anchor-tag:hover {
  color: #273c2c;
}


.modal-header {
 background: #535a5d;
 border: none;
 color: #FFFFFA;
 padding: 2em 2em 1em;
 font-family: 'Raleway', sans-serif;
}

.modal-body {

  background: #535a5d;
  color: #FFFFFA;
  border: none;
  padding: 0 2em;
  font-family: 'Raleway', sans-serif;
}

.modal-body a {
  color: #fbd3b8;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.close {
  color: #fffffa;
}

.modal-footer {
  background: #535a5d;
  border: none;
  padding: 1em 2em 2em;
  font-family: 'Raleway', sans-serif;
}


.modal-footer .btn-primary {
  background-color: #748b75;
  color: #fffffa;
  outline: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  border-color: #fffffa;
}

.modal-title {
  color: #e1dee6;
  padding: 5px 10px;
  font-family: 'Raleway', sans-serif;
}

.modal-content {
  border-radius: 30px;
  overflow: hidden;
  border: none;
  background: none;
}


h1 {
  color: #535a5d;
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 320px) and (max-width: 500px) {
  h1 {
    font-size: 1rem;
  }
}

@media (min-width: 501px) and (max-width: 900px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 901px) {
  h1 {
    font-size: 2.5rem;
  }
}

.footer {
  background: #535851;
  padding: 20px 0;
  font-family: 'Raleway', sans-serif;;
  width: 100%;
  bottom: 0;
}

a.footer-link {
  color: #e1dee6;
  display: inline-block;
  margin: 0 20px;
  font-family: 'Raleway', sans-serif;;
  font-size: 10px;
}

@media (min-width: 501px) and (max-width: 900px) {
  a.footer-link {
    font-size: 15px;
  }
}

@media (min-width: 901px) {
  a.footer-link {
    font-size: 18px;
  }
}


a.footer-link:hover {
  color: #fff;
}


a:hover {
  text-decoration: none;
}

.truncated-description {
  background: #535a5d;
  padding: 10px;
  color: #fffffa;
}



.experience-title {
  font-size: 18px;
  background: #535a5d;
  padding: 5px 10px;
  color: #fffffa;
  font-family: 'Raleway', sans-serif;;
}

@media (min-width: 320px) and (max-width: 767px) {
  .experience-title {
    padding: 2px 5px;
    font-size: 7px;
  }
}


@media (min-width: 768px) {
  .experience-title {
    font-size: 18px;
  }
}


.experience {
  padding: 5% 0;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;;
}

@media (min-width: 650px)  {
  .experience {
    padding: 8% 0;
  }
}





.experience:hover, .experience:focus, .experience:active {
  opacity: .8;
}

.experience:hover .experience-title, .experience:focus .experience-title, .experience:active .experience-title {
  background: rgba(73,76,78,.7);
  color: #e1dee6;
}

.block-1, .block-3, .block-5 {
  background: #ff5851;
  width: 33.33%;
  padding: 3em;
  display: inline-block;
  max-height: 50vh;
  min-height: 50vh;
}

.block-2, .block-4, .block-6 {
  background: #fffffa;
  width: 100%;
  padding: 3em;
  display: inline-block;
  max-height: 50vh;
  min-height: 50vh;
}

@media(min-width: 550px) and (max-width: 767px) {
  .block-2, .block-4, .block-6 {
    width: 50%;
  }
}

@media(min-width: 768px) {
  .block-2, .block-4, .block-6 {
    width: 33.333333%;
  }
}



.open {
  animation: open-in-keyframes 1s forwards;
}

.gone {
  display: none;
}
.gone .dot, .gone .dot2, .gone .dot3, .gone .dot4, .gone .dot5 {
  display: none;
}
@keyframes open-in-keyframes {
  from {
    clip-path: circle(100.0% at 50% 50%);

  }
  to {
    clip-path: circle(0% at 50% 50%);
  
  }
}


@keyframes orbit {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes back-orbit {
  from {
    transform:rotate(360deg);
  }
  to {
    transform:rotate(0deg);
  }
}


