.App {
  text-align: center;
  background: #fffffa;
  min-height: 100vh;
  position: relative;
  z-index: 2;
  padding-top: 76px;

}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
}
.main-name {
  font-weight: 600;
}
.sticky-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}


ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
ul > li > a {
  cursor: pointer;
  color: #000;
  display: inline-block;
  margin: 0 10px;
}

ul > li > a:hover {
  cursor: pointer;
  color: #000;
  display: inline-block;
  margin: 0 10px;
  opacity: 0.6;
}

a.navigation--active {
  color: #007778;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
}
.portfolio-section-1 {
  background: #007778;
  position: relative;
}

.portfolio-section-2, .portfolio-section-3, .footer {
  position: relative;
  z-index: 2;
}

/*.portfolio-section-3 {
  display: none;
}*/

.hero-container {
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

.hero-half {
  width: 100%;
  min-width: 100%;
}
@media (min-width: 768px) {
  .hero-half {
    width: 50%;
    min-width: 50%;
    max-width: 50%;

  }
}

p {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}

h3 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}

.portrait {
  max-width: 100%;
}

.text-side {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.anchor-tag {
  color: #007778;
}

.anchor-tag:hover {
  color: #ccc;
}

.tag-line {
  color: #fff;
  position: absolute;
  top: 39%;
  left: 50%;
  margin-left: -236px;
}

.modal-header {
 background: #f8f8f8;
 border: none;
 color: #000;
 padding: 2em 2em 1em;
 font-family: 'Roboto', sans-serif;
}

.modal-body {
  background: #f8f8f8;
  color: #000;
  border: none;
  padding: 0 2em;
  font-family: 'Roboto', sans-serif;
}

.modal-footer a {
  color: #007778;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin-right: 30px !important;
}

.close {
  color: #fffffa;
}

.modal-footer {
  background: #f8f8f8;
  border: none;
  padding: 1em 2em 2em;
  font-family: 'Roboto', sans-serif;
}


.modal-footer .btn-primary {
  background-color: #007778;
  color: #f8f8f8;
  outline: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  border-color: #fffffa;
}

.modal-title {
  color: #000;
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.modal-content {
  border-radius: 30px;
  overflow: hidden;
  border: none;
  background: none;
}

.row {
  margin-right: 0;
  margin-left: 0;
}
.divider {
  background: #f8f8f8;
  width: 100%;
  padding: 10px 20px;

}

.quote {
  text-transform: uppercase;
  font-style: italic;
  font-size: 12px;
}

h1 {
  color: #535a5d;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 320px) and (max-width: 500px) {
  h1 {
    font-size: 1rem;
  }
}

@media (min-width: 501px) and (max-width: 900px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 901px) {
  h1 {
    font-size: 2.5rem;
  }
}

.footer {
  background: #191919;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;;
  width: 100%;
  bottom: 0;
}

a.footer-link {
  color: #e1dee6;
  display: inline-block;
  margin: 0 20px;
  font-family: 'Roboto', sans-serif;;
  font-size: 10px;
}

@media (min-width: 501px) and (max-width: 900px) {
  a.footer-link {
    font-size: 15px;
  }
}

@media (min-width: 901px) {
  a.footer-link {
    font-size: 18px;
  }
}


a.footer-link:hover {
  color: #fff;
}

.portfolio-section-3 {
  background: #f8f8f8;
  padding: 5em 0;
}
.inner-container {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0.5;
  box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
  
}

a:hover {
  text-decoration: none;
}

.truncated-description {
  background: #535a5d;
  padding: 10px;
  color: #fffffa;
  display: none;
}





.experience-title {
  font-size: 18px;
  padding: 5px 10px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background: #191919;
 
}


.experience {
  cursor: pointer;
  position: relative;
  padding: 2em 0;
  display: inline-block;
  max-height: unset;
}

@media (min-width: 1024px) {
  .experience {
    cursor: pointer;
    position: relative;
    padding: 1em;
    display: inline-block;
    max-height: 283px;
  }
}



iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}

.iframe-wrapper {
  position:relative;

  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  display: block;
}


.experience:hover, .experience:focus, .experience:active {
  opacity: .8;
}

.experience-title-1 {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  margin-bottom: 0;
  left: 50%;
  margin-left: 3px;
}

.experience-title-2 {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  margin-bottom: 0;
  left: 50%;
  margin-left: -17px;
} 

.experience-title-3 {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  margin-bottom: 0;
  left: 50%;
  margin-left: -95px;
} 

.experience-title-4 {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  margin-bottom: 0;
  left: 50%;
  margin-left: 36px;
} 

.experience-title-5 {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  margin-bottom: 0;
  left: 50%;
  margin-left: 10px;
} 

.experience-title-6 {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  margin-bottom: 0;
  left: 50%;
  margin-left: -74px;
} 

.inner-container-1 {
  background: url('wealthmeta_screen.png');
  background-size: cover;
}


.inner-container-2 {
  background: url('tualatin_screen.png');
  background-size: cover;
}


.inner-container-3 {
  background: url('chalice_screen.png');
  background-size: cover;
}

.inner-container-4 {
  background: url('protalus_screen.png');
  background-size: cover;
}
.inner-container-5 {
  background: url('capbuilder_screen.png');
  background-size: cover;
}

.inner-container-6 {
  background: url('heston_screen.png');
  background-size: cover;
}







